$theme-colors: (
    primary: #022770,
);

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


// Customize Bootstrap variables
$btn-border-radius: 2px;
$input-border-radius: 2px;
